<form name="formAssetWordCloud" novalidate context-container ng-controller="DashboardAssetWordCloudPropertyController" ng-model="output">
	<label ng-class="{'error': formAssetWordCloud.text.$invalid && isOnSubmit }">
		<span>{{'$S_str_ColumnWillDisplay' | translate}}</span>
		<select ng-model="output.text" name="text" ng-options="c.key as c.key for c in columnInfo | filter:{type:'string'}" required>
			<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
		</select>
		<div class="alert alert-error" ng-show="formAssetWordCloud.text.$invalid && isOnSubmit">
			반드시 하나의 항목을 선택해야 합니다.
		</div>
	</label>
	<label ng-class="{'error': formAssetWordCloud.size.$invalid && isOnSubmit }">
		<span>{{'$S_str_ColumnBasedFontSize' | translate}}</span>
		<select ng-model="output.size" name="size" ng-options="c.key as c.key for c in columnInfo | filter:{type:'number'}" required>
			<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
		</select>
		<div class="alert alert-error" ng-show="formAssetWordCloud.size.$invalid && isOnSubmit">
			반드시 하나의 항목을 선택해야 합니다.
		</div>
	</label>
</form>