<div class="well" style="margin:20px; box-sizing:border-box" ng-controller="SampleLogdbDirectiveController">
	<query-input
		id="demo-qi-1"
		ng-model="queryResult"
		ng-query-string="queryString"
		ng-page-size="numPageSize"
		ng-pid="numPid"
		on-head="onHead($helper)"
		on-status-change="onStatusChange($msg)"
		on-tail="onTail($helper)"
		on-failed="onFailed($raw, $type, $note)">
	</query-input>

	<table-view-with-pager
		ng-model="queryResult"
		ng-total-count="numTotalCount"
		ng-items-per-page="numPageSize"
		ng-page-size="numPagerPageSize"
		on-page-change="changePage($idx)">
	</table-view-with-pager>
</div>