<form name="formAssetAlertBox" novalidate context-container ng-controller="DashboardAssetAlertBoxPropertyController" ng-model="output">
	<label ng-class="{'error': formAssetAlertBox.column.$invalid && isOnSubmit }">
		<span>{{'$S_str_ColumnWillDisplay' | translate}}</span>
		<select ng-model="output.column" name="column" ng-options="c.key as c.key for c in columnInfo | filter:{type:'number'}" required>
			<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
		</select>
		<div class="alert alert-error" ng-show="formAssetAlertBox.column.$invalid && isOnSubmit">
			반드시 하나의 항목을 선택해야 합니다.
		</div>
	</label>
	<label>
		<span>{{'$S_str_Label' | translate}}</span>
		<input type="text" ng-model="output.label">
	</label>
	<label>
		<span>{{'$S_str_Prefix' | translate}}</span>
		<input type="text" ng-model="output.prefix">
	</label>
	<label>
		<span>{{'$S_str_Suffix' | translate}}</span>
		<input type="text" ng-model="output.suffix">
	</label>
	<fieldset>
		<span>{{'$S_str_BackgroundCondition' | translate}}</span>
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>색상</th>
					<th>컬럼</th>
					<th>표시할 이름</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in output.rules">
					<td>
						결과가
						<select ng-model="s.operator">
							<option value=">">다음보다 큼</option>
							<option value="<">다음보다 작음</option>
							<option value="=">다음과 같음</option>
							<option value="!=">다음과 다름</option>
						</select>
					</td>
					<td>
						<input type="number" ng-model="s.boundary">
					</td>
					<td>
						<input type="color" ng-model="s.color" style="width: 50px">
					</td>
					<td>
						<button class="btn close" ng-hide="output.rules.length == 1" ng-click="removeFrom($index, output.rules)">&times;</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-small" ng-click="addRule()">{{'$S_str_AddContextObjectPre' | translate}}{{'$S_str_BackgroundCondition' | translate}}{{'$S_str_AddContextObjectPost' | translate}}</button>
	</fieldset>
	<label>
		<span>천단위 쉼표</span>
		<input type="checkbox" ng-model="comma">
	</label>
	<label>
		<span>소수점</span>
		<input type="number" ng-model="decimal" min="0" max="9"> 자리까지 표시
	</label>
	<label ng-class="{'error': formAssetAlertBox.default_color.$invalid && isOnSubmit }">
		<span>{{'$S_str_DefaultColor' | translate}}</span>
		<input type="color" name="default_color" ng-model="output.default_color" style="width: 50px" required>
	</label>
</form>