<link rel="stylesheet" type="text/css" href="style.css">
<div class="devconsole-container container" ng-controller="DevConsoleController">
	<legend>{{'$K_DEVCONSOLE.$S_Title' | translate}}</legend>
	<form name="frm" novalidate>
		<div class="control-group" ng-class="{'error': frm.msgbus.$invalid && isOnSubmit}">
			<h5>{{'$K_DEVCONSOLE.$S_MessageBus' | translate}}</h5>
			<input type="text" ng-model="modelMsgbus" name="msgbus" class="span8" required autofocus>
			<span class="help-block" ng-show="frm.msgbus.$invalid && isOnSubmit">{{'$K_DEVCONSOLE.$S_MessageBusRequiredError' | translate}}</span>
		</div>
		<div class="control-group" ng-class="{'error': frm.options.$invalid && isOnSubmit}">
			<h5>{{'$K_DEVCONSOLE.$S_Options' | translate}}</h5>
			<textarea ng-model="modelOption" name="options" class="span12" ng-keydown="keyevent($event)"></textarea>
			<span class="help-block" ng-show="frm.options.$invalid && isOnSubmit">{{'$K_DEVCONSOLE.$S_OptionsInvalidError' | translate}}</span>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="run()">{{'$K_DEVCONSOLE.$S_Run' | translate}}</button>
		<button class="btn" ng-click="clear()">{{'$K_DEVCONSOLE.$S_Clear' | translate}}</button>
	</form>

	<h5>{{'$K_DEVCONSOLE.$S_Success' | translate}}</h5>
	<pre>{{resultSuccess | json}}</pre>

	<h5>{{'$K_DEVCONSOLE.$S_Failed' | translate}}</h5>
	<pre>{{resultFailed | json}}</pre>
</div>

<script src="app.js"></script>