<form name="formAssetChart" novalidate context-container ng-controller="DashboardAssetChartPropertyController" ng-model="output">
	<label ng-class="{'error': formAssetChart.type.$invalid && isOnSubmit }">
		<span>{{'$S_str_ChartType' | translate}}</span>
		<select ng-model="output.type" name="type" ng-change="changeType()" required>
			<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
			<option value="bar">{{'$S_str_ChartTypeBar' | translate}}</option>
			<option value="pie">{{'$S_str_ChartTypePie' | translate}}</option>
			<option value="line">{{'$S_str_ChartTypeLine' | translate}}</option>
			<option value="column">{{'$S_str_ChartTypeColumn' | translate}}</option>
		</select>
		<div class="alert alert-error" ng-show="formAssetChart.type.$invalid && isOnSubmit">
			차트 타입은 반드시 선택해야 합니다.
		</div>
	</label>
	<label ng-class="{'error': formAssetChart.label.$invalid && isOnSubmit }">
		<span>{{'$S_str_IndependentVariable' | translate}}</span>
		<select ng-model="indepVar" name="label" ng-options="c.key for c in columnInfo" required>
			<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
		</select>
		<div class="alert alert-error" ng-show="formAssetChart.label.$invalid && isOnSubmit">
			독립 변수는 반드시 선택해야 합니다.
		</div>
	</label>
	<label ng-show="output.type != 'pie'">
		<span>{{'$S_str_DependentVariableAutomaticAddition' | translate}}</span>
		<input type="checkbox" ng-model="output.autoSeries">
	</label>
	<fieldset ng-show="output.autoSeries">
		<span>{{'$S_str_ExcludedColumnInAutomaticAddition' | translate}}</span>
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>컬럼</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in output.excludeSeries track by $index">
					<td>
						<select ng-model="output.excludeSeries[$index]" ng-options="c.key as c.key for c in columnInfo">
							<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
						</select>
					</td>
					<td>
						<button class="btn close" ng-click="removeFrom($index, output.excludeSeries)">&times;</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-small" ng-click="addExcludeSeries()">{{'$S_str_AddContextObjectPre' | translate}}{{'$S_str_ExcludedColumnInAutomaticAddition' | translate}}{{'$S_str_AddContextObjectPost' | translate}}</button>
	</fieldset>
	<fieldset ng-show="!output.autoSeries" ng-class="{'error': !output.autoSeries && output.series.length == 0 && isOnSubmit}">
		<span>{{'$S_str_DependentVariable' | translate}}</span>
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th ng-hide="output.type == 'pie'">색상</th>
					<th>컬럼</th>
					<th>표시할 이름</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in output.series">
					<td ng-hide="output.type == 'pie'">
						<input type="color" ng-model="s.color" style="width: 50px">
					</td>
					<td ng-class="{'error': (s.key == null || s.key == '') && isOnSubmit }">
						<select ng-model="s.key" ng-options="c.key as c.key for c in columnInfo | filter:{type:'number'}" ng-change="setName(s)" required>
							<option value="">-- {{'$S_msg_Choose' | translate}} --</option>
						</select>
						<div class="alert alert-error" ng-show="(s.key == null || s.key == '') && isOnSubmit">
							표시할 이름이 필요합니다.
						</div>
					</td>
					<td ng-class="{'error': (s.name == null || s.name == '') && isOnSubmit }">
						<input type="text" ng-model="s.name" required>
						<div class="alert alert-error" ng-show="(s.name == null || s.name == '') && isOnSubmit">
							표시할 이름이 필요합니다.
						</div>
					</td>
					<td>
						<button class="btn close" ng-hide="output.series.length == 1" ng-click="removeFrom($index, output.series)">&times;</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-small" ng-show="output.type != 'pie'" ng-click="addSeries()">{{'$S_str_AddContextObjectPre' | translate}}{{'$S_str_DependentVariable' | translate}}{{'$S_str_AddContextObjectPost' | translate}}</button>
	</fieldset>
</form>