<style>
.grid-property-container ul {
	border: 1px solid #ccc;
	padding: 0px 0px;
	margin: 0 10px;
}
.grid-property-container li {
	list-style: none;
	padding: 1px 5px;
	margin: 0;
	box-sizing: border-box;
}
.grid-property-container li label{
	font-size: 13px;
	margin: 0;
}
.grid-property-container li label input[type=checkbox] {
	margin: 0 5px;
	vertical-align: middle;
}
.grid-property-container li label span {
	padding: 0 2px;
	vertical-align: middle;
}
.grid-property-container li:hover {
	background-color: rgba(56, 121, 217, 0.2);
}
.grid-property-container li.ui-sortable-helper,
.grid-property-container li.ui-sortable-helper:hover {
	background-color: rgba(56, 121, 217, 0.5);
}
</style>
<form class="grid-property-container" novalidate context-container ng-controller="DashboardAssetGridPropertyController" ng-model="columnInfo">
	<label>
		<span>컬럼 순서 조절</span>
		<input type="checkbox" ng-model="orderingEnabled">
		체크를 해제하면 원본 그대로 표시됩니다.
	</label>
	<fieldset ng-show="orderingEnabled">
		<span>{{'$S_str_ColumnOrder' | translate}}</span>
		<div>체크해서 표시할 컬럼을 선택하고, 드래그하여 순서를 조정합니다.</div>
		<ul ui-sortable="sortableOptions" ng-model="columnInfo">
			<li ng-repeat="c in columnInfo track by $index">
				<label>
					<input type="checkbox" ng-model="c.is_checked"><span>{{c.key}}</span>
				</label>
			</li>
		</ul>
	</fieldset>
</form>